services:
  traefik:
    image: traefik:v3.0
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--entrypoints.web.address=:80"
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"

  backend:
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.erp.rule=Host(`${SITE_NAME}`)"
      - "traefik.http.services.erp.loadbalancer.server.port=8000"
